@font-face {
	font-family: 'meat';
	src: url(../font/meat.otf);
}
* {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'meat';
}
html,body {
	height: 100%;
}

#wrap {
	position: relative;
	width: 23.4375rem;
	height: 100%;
	overflow: hidden;
}

#wrap .page {
	position: absolute;
	width: 23.4375rem;
	height: 100%;
	overflow: hidden;
	display: none;
	background: url(../img/bg.png) no-repeat left top;
	background-size: 100% 100%;
}

.in-top {
	animation: in-top 1s linear both;
}
.out-top {
	animation: out-top 1s linear both;
}
.in-down {
	animation: in-down 1s linear both;
}
.out-down {
	animation: out-down 1s linear both;
}

@keyframes in-top{
	from{
		transform: translateY(0%);
	}
	to{
		transform: translateY(-100%);
	}
}

@keyframes out-top{
	from{
		transform: translateY(100%);
	}
	to{
		transform: translateY(0%);
	}
}

@keyframes in-down{
	from{
		transform: translateY(0%);
	}
	to{
		transform: translateY(100%);
	}
}

@keyframes out-down{
	from{
		transform: translateY(-100%);
	}
	to{
		transform: translateY(0%);
	}
}

/* 背景音乐图标 */
 .bj-logo {
	width: 1.96875rem;
	height: 1.96875rem;
	position: fixed;
	top: 0.625rem;
	right: 0.625rem;
	z-index: 99;
}
.bj-logo img {
	width: 100%;
	height: 100%;
	animation: bj-rotate 1s linear  infinite alternate;
}
/* 背景音乐 */
@keyframes bj-rotate{
	from{
		transform: rotate(-45deg);
	}
	to{
		transform: rotate(45deg);
	}
}