* {
	margin: 0;
	padding: 0;
}

html,body {
	height: 100%;
}

#wrap {
	position: relative;
	width: 23.4375rem;
	height: 100%;
	overflow: hidden;
}

.page {
	position: absolute;
	width: 23.4375rem;
	height: 100%;	
	overflow: hidden;
	display: none;
}
.page:nth-child(1){
	display: block;
	z-index: 120;
}
.page:nth-child(2){
	display: block;
	z-index: 110;
}
.page:nth-child(3){
	z-index: 100;
}
.page:nth-child(4){
	z-index: 90;
}
.page:nth-child(5){
	z-index: 80;
}
.page:nth-child(6){
	z-index: 70;
}